body{
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);     
}
.search-section {
    position: absolute;
    top: 20px;
    left: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.253);  
    backdrop-filter: blur(10px);
    width: 500px;
    height: 55px;
  }
  .myform{
      margin: 13px 35px;
  }
  .myform input{
      background: none;
      font-family: 'Raleway', sans-serif;
      height:25px;
      width: 230px;
      padding: 0 0 0 15px;
      margin: 0 0 0 35px;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.452);
      border-radius: 15px;
  }
  .myform input::placeholder{
      padding: 5px;
      color: rgba(255, 255, 255, 0.315);
  }
  .myform button{
    height:25px;
    width: 60px;
    border-radius: 5px;
    margin: 0 0 0 15px;
    font-family: 'Raleway', sans-serif;
    background-color: #185ADB;
    color: white;
    border: none; 
  }

.weather-card{
    position: absolute;
    top: 90px;
    left: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.253);  
    backdrop-filter: blur(10px);
    width: 500px;
    height: auto;
}
.location{
    color: rgba(255, 255, 255, 0.568);
    margin: 0 0 20px 220px;
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}
.temp{
    color: white;
    float: right;
    margin: 40px 170px 0 0; 
    font-family: sans-serif;
}
.des{
    color:white;
    margin: 0 0 0 180px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
}
.icon-img{
    margin-left: 150px;
}
  
 